#root {
  display: flex;
  flex: 1;
  text-align: center;
}
.login-card { width: 296px;}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

header {
  height: 72px; 
  background: white; 
  width: 100vw;
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  align-self: flex-start;
  /* padding: 0 27px 0 24px; */
  align-items: center;
}
.empty-list .content-wrapper {flex: 0 0 100%; position: inherit !important;}
.empty-list header { position: absolute; top: 0;}
.text-center {
  text-align: center;
}
.icon:hover {
  cursor: pointer;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
